@model IEnumerable<SportsWear.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="mb-3">Products List</h3>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<table class="table table-hover" id="table-products">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductPrice)*@
                Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductQty)*@
                Qty
            </th>
            <th>
                Size
                @*@Html.DisplayNameFor(model => model.ProductSize)*@
            </th>
            <th>
                Gender
                @*@Html.DisplayNameFor(model => model.ProductGender)*@
            </th>
            <th>
                Image
                @*@Html.DisplayNameFor(model => model.ProductImage)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductDesc)*@
                Description
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FkCategory)*@
                Category
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGender)
            </td>
            <td>
                <img src="~/images/uploads/productImages/@item.ProductImage" style="width:50px;height:50px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCategory.CategoryName)
            </td>
            <td>
                <span>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#table-products").DataTable({
            "responsive": true,
            "autoWidth": false,
            'columnDefs': [{

                'targets': [5,8], /* column index */

                'orderable': false, /* true or false */

            }]
        });

    });</script>